In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('aug02-2018.csv', index_col='timestamp', parse_dates=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 77608 entries, 2018-02-08 00:08:00 to 2018-02-08 23:50:00
Data columns (total 22 columns):
Unnamed: 0     77608 non-null int64
station_id     77608 non-null int64
bikes          77608 non-null int64
spaces         77608 non-null int64
total_docks    77608 non-null int64
bike_lag       77608 non-null int64
bike_lag2      77608 non-null int64
bike_lag3      77608 non-null int64
bike_lag4      77608 non-null int64
deposit        77608 non-null int64
hour           77608 non-null int64
day_of_week    77608 non-null int64
month          77608 non-null int64
weekend        77608 non-null int64
bike_pull      77608 non-null int64
bike_pull2     77608 non-null int64
bike_pull3     77608 non-null int64
bike_pull4     77608 non-null int64
rf             77608 non-null float64
rf2            77608 non-null float64
rf3            77608 non-null float64
rf4            77608 non-null float64
dtypes: float64(4), int64(18)
memory usage: 13.6 MB

In [4]:
df.describe()

,Unnamed: 0,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,...,month,weekend,bike_pull,bike_pull2,bike_pull3,bike_pull4,rf,rf2,rf3,rf4
count,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,...,77608.0,77608.0,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000,77608.000000
mean,38803.500000,56.045872,11.185380,20.520217,31.880734,11.185535,11.185548,11.185664,11.185857,-0.000155,...,2.0,0.0,11.185252,11.185084,11.184968,11.184904,11.203525,11.870702,11.821991,11.278764
std,22403.644183,32.031551,11.655213,12.358499,7.545294,11.655251,11.655420,11.655629,11.655859,0.711526,...,0.0,0.0,11.655182,11.655128,11.655056,11.654981,11.617647,11.389544,11.243578,11.504445
min,0.000000,1.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,-19.000000,...,2.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19401.750000,29.000000,1.000000,11.000000,29.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,2.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.086444,1.157952,1.235223
50%,38803.500000,56.000000,7.000000,20.000000,30.000000,7.000000,7.000000,7.000000,7.000000,0.000000,...,2.0,0.0,7.000000,7.000000,7.000000,7.000000,6.694667,8.658730,8.980000,6.750143
75%,58205.250000,83.000000,20.000000,30.000000,40.000000,20.000000,20.000000,20.000000,20.000000,0.000000,...,2.0,0.0,20.000000,20.000000,20.000000,20.000000,19.971143,20.486106,20.280000,20.000000
max,77607.000000,112.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,10.000000,...,2.0,0.0,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000

In [7]:
df = df.drop('Unnamed: 0',axis=1)

In [8]:
df.head()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,hour,...,month,weekend,bike_pull,bike_pull2,bike_pull3,bike_pull4,rf,rf2,rf3,rf4
timestamp,,,,,,,,,,,,,,,,,,,,,
2018-02-08 00:08:00,89,2,38,40,2,2,2,2,0,0,...,2,0,2,2,2,2,2.000000,2.428137,2.048539,1.840074
2018-02-08 00:08:00,83,36,4,40,36,36,36,36,0,0,...,2,0,36,36,37,37,35.265897,36.229824,36.244640,36.899096
2018-02-08 00:08:00,24,17,3,20,17,17,17,17,0,0,...,2,0,17,17,17,17,16.974882,16.881458,17.067768,17.260934
2018-02-08 00:08:00,61,2,23,25,2,2,2,2,0,0,...,2,0,2,2,2,3,2.000000,3.518743,3.538550,2.030105
2018-02-08 00:08:00,104,8,32,40,8,8,8,8,0,0,...,2,0,8,8,8,8,7.882000,11.381818,12.662222,8.072222