In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

01 - Creating the features.ipynb
01--1-Copy1.2 - Creating the features bike lag +4.ipynb
01--1.2 - Creating the features bike lag +4.ipynb
01-.2 - Creating the features bike lag +3.ipynb
01.2 - Creating the features bike lag +2.ipynb
01.2 - Creating the features.ipynb
02 - EDA-Copy1.ipynb
02 - EDA.ipynb
03 - Modelling - ExtraTreesRegressor.ipynb
03 - Modelling - LinearRegression (hasn't worked yet, autoregression).ipynb
03 - Modelling - LinearRegression.ipynb
03 - Modelling - RandomForestClassifier.ipynb
03 - Modelling - RandomForestRegressor-plus2-Copy1.ipynb
03 - Modelling - RandomForestRegressor-plus2.ipynb
03 - Modelling - RandomForestRegressor-plus3.ipynb
03 - Modelling - RandomForestRegressor-plus4.ipynb
03 - Modelling - RandomForestRegressor.ipynb
03 - Modelling - RandomForestRegressor_old.ipynb
03 - Modelling - SVM-Copy1.ipynb
03 - Modelling - SVM.ipynb
03 - Modelling - lot of models.ipynb
04 - Live - RandomForestRegressor - Four models in action-Copy1.ipynb
04 - Live - RandomForestRegressor - Four models in action-Copy2.ipynb
04 - Live - RandomForestRegressor - Four models in action-Copy3.ipynb
04 - Live - RandomForestRegressor - Four models in action.ipynb
05 - Charts from the data.ipynb
05 - Understanding results-Copy1.ipynb
05 - Understanding results.ipynb
08-08-2018_output.csv
08.18.xlsx
176-01-bikelocations.csv
176-01-ind_dublinalt.csv.gz
176-01-sum_dublinalt.csv
2008 machine learning start-Copy1.ipynb
2008 machine learning start-Copy2.ipynb
2008 machine learning start.ipynb
2017-06-25.csv
2017-06.csv*
2017-06.ipynb
2018-06-20.csv
2018-06-20.ipynb
2018-06-20_features.csv
2018-06-20_features2_test.csv
2018-06-20_features_test.csv
2018-Copy1.ipynb
2018.ipynb
2018_portobelloroad.csv
2018_pulled_features.csv*
2018_pulled_features_plusfour.csv*
EDA-aug02-2018.xlsx
FINAL PREDICTION - make the features.ipynb
PORTOBELLO ROAD.csv
Thursday 2nd August.csv
Thursday2ndAugust_features.csv
Thursday2ndAugust_features_clipped.csv
Untitled.ipynb
all-station-features-march_on.ipynb
all-station-features-march_on.py
all-station-features.ipynb
aug02-2018.csv
b4bedtest.csv
backedup 02 - EDA.ipynb
basica validation model 1.xlsx
cp test
f_features.csv
features2.csv
final presentation features.ipynb
finalized_model_with_pull.sav
from output to prediction ready.ipynb
fulldata-spoken.ipynb
graph-aug02-2018.csv
ind_dublinalt (2) 2.csv
ind_dublinalt (2) 3.csv
ind_dublinalt (2).csv
ind_dublinalt (2).csv.zip
knn for neil.ipynb
machinestarts-2years_all stations.ipynb
machinestarts.ipynb
machinestarts2.ipynb
make_me_work.csv
mework2.csv
notebook.tex
other_output.csv
output.csv
ouuu.csv
paper data/
pboh-features.ipynb
pboh.ipynb
pboh_test 2.csv
pboh_test.csv
pivot_mean_hour.csv
pivot_means.csv
pivot_means_thursdays.csv
pivot_means_thursdays_aug.csv
presentation data/
presentation features.ipynb
results 93.xlsx
results.csv
results_deux.csv
scattered.ipynb
station 56 results.xlsx
station 77.xlsx
station_34.csv
station_34_with charts.xlsx
sum_dublinalt.csv
test22.csv
testthemodel.csv
thistookages.csv
time_series_features.csv
validateme.csv
validateme2.csv
validateme2sss.csv
validateme3.csv
validateme4.csv
validates_all.csv
validation.csv
well.csv
xxx.csv
~$station_34_with charts.xlsx

In [3]:
names= ['timestamp','station_id','station_name','spaces','bikes']

In [4]:
#df = pd.read_csv('output.csv',names=names,index_col='timestamp', parse_dates=True)
df = pd.read_csv('08-08-2018_output.csv',names=names)

In [5]:
df = df.drop('station_name',axis=1)

In [6]:
df = df.sort_values(by=['station_id','timestamp'])

In [7]:
df['bike_lag'] = df['bikes'].shift().fillna(0).astype(int)

df['bike_lag2'] = df['bikes'].shift(2).fillna(0).astype(int)

df['bike_lag3'] = df['bikes'].shift(3).fillna(0).astype(int)

df['bike_lag4'] = df['bikes'].shift(4).fillna(0).astype(int)

df['bike_pull'] = df['bikes'].shift(-1).fillna(0).astype(int)

df['bike_pull2'] = df['bikes'].shift(-2).fillna(0).astype(int)

df['bike_pull3'] = df['bikes'].shift(-3).fillna(0).astype(int)

df['bike_pull4'] = df['bikes'].shift(-4).fillna(0).astype(int)

df['deposit'] = df['bikes'].diff().fillna(0).astype(int)
df = df.sort_values(by=['timestamp'])

In [8]:
df.head(2)

,timestamp,station_id,spaces,bikes,bike_lag,bike_lag2,bike_lag3,bike_lag4,bike_pull,bike_pull2,bike_pull3,bike_pull4,deposit
54,2018-08-08T01:39:17.277000Z,42,0,30,14,14,14,14,30,30,30,30,16
32,2018-08-08T01:39:17.280000Z,30,19,1,14,13,13,13,1,1,1,1,-13

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39710 entries, 274 to 39687
Data columns (total 14 columns):
timestamp       39710 non-null object
station_id      39710 non-null int64
station_name    39710 non-null object
spaces          39710 non-null int64
bikes           39710 non-null int64
bike_lag        39710 non-null int64
bike_lag2       39710 non-null int64
bike_lag3       39710 non-null int64
bike_lag4       39710 non-null int64
bike_pull       39710 non-null int64
bike_pull2      39710 non-null int64
bike_pull3      39710 non-null int64
bike_pull4      39710 non-null int64
deposit         39710 non-null int64
dtypes: int64(12), object(2)
memory usage: 5.8+ MB

In [9]:

df = df.set_index('timestamp')

df['hour'] = pd.DatetimeIndex(df.index).hour

df['day_of_week'] = pd.DatetimeIndex(df.index).dayofweek

df['month'] = pd.DatetimeIndex(df.index).month

df['weekend'] = df['day_of_week'] > 4

df['weekend'] = df['weekend'].astype(int)

In [10]:
df.to_csv('Presentation_08-08-2018.csv')

In [11]:
df = pd.read_csv('Presentation_08-08-2018.csv')

In [12]:
df.head()

,timestamp,station_id,spaces,bikes,bike_lag,bike_lag2,bike_lag3,bike_lag4,bike_pull,bike_pull2,bike_pull3,bike_pull4,deposit,hour,day_of_week,month,weekend
0,2018-08-08T01:39:17.277000Z,42,0,30,14,14,14,14,30,30,30,30,16,1,2,8,0
1,2018-08-08T01:39:17.280000Z,30,19,1,14,13,13,13,1,1,1,1,-13,1,2,8,0
2,2018-08-08T01:39:17.281000Z,54,33,0,36,36,36,36,0,0,0,0,-36,1,2,8,0
3,2018-08-08T01:39:17.282000Z,108,12,27,2,2,2,2,27,27,27,27,25,1,2,8,0
4,2018-08-08T01:39:17.283000Z,56,35,5,24,25,25,26,5,5,5,5,-19,1,2,8,0

In [13]:
df = df.sort_values(by=['timestamp'])
df = df.set_index('timestamp')

In [14]:
df.head()

,station_id,spaces,bikes,bike_lag,bike_lag2,bike_lag3,bike_lag4,bike_pull,bike_pull2,bike_pull3,bike_pull4,deposit,hour,day_of_week,month,weekend
timestamp,,,,,,,,,,,,,,,,
2018-08-08T01:39:17.277000Z,42,0,30,14,14,14,14,30,30,30,30,16,1,2,8,0
2018-08-08T01:39:17.280000Z,30,19,1,14,13,13,13,1,1,1,1,-13,1,2,8,0
2018-08-08T01:39:17.281000Z,54,33,0,36,36,36,36,0,0,0,0,-36,1,2,8,0
2018-08-08T01:39:17.282000Z,108,12,27,2,2,2,2,27,27,27,27,25,1,2,8,0
2018-08-08T01:39:17.283000Z,56,35,5,24,25,25,26,5,5,5,5,-19,1,2,8,0