In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("2014-2018_Station34_features.csv")

In [4]:
df.head()

,timestamp,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,bike_pull,bike_pull2,bike_pull3,bike_pull4,deposit,hour,day_of_week,minute,month,weekend,time
0,2014-06-28 00:00:01,30,0,0,0,0,0,0,30,30,30,29,0,0,5,0,6,1,00:00:01
1,2014-06-28 00:10:01,30,0,0,30,0,0,0,30,30,29,30,0,0,5,10,6,1,00:10:01
2,2014-06-28 00:20:02,30,0,0,30,30,0,0,30,29,30,30,0,0,5,20,6,1,00:20:02
3,2014-06-28 00:30:02,30,0,0,30,30,30,0,29,30,30,30,0,0,5,30,6,1,00:30:02
4,2014-06-28 00:40:02,29,1,0,30,30,30,30,30,30,30,30,-1,0,5,40,6,1,00:40:02

In [6]:
df = df.drop('bike_lag',axis=1)
df = df.drop('bike_lag2',axis=1)
df = df.drop('bike_lag3',axis=1)
df = df.drop('bike_lag4',axis=1)
df.head(2)

,timestamp,bikes,spaces,total_docks,bike_pull,bike_pull2,bike_pull3,bike_pull4,deposit,hour,day_of_week,minute,month,weekend,time
0,2014-06-28 00:00:01,30,0,0,30,30,30,29,0,0,5,0,6,1,00:00:01
1,2014-06-28 00:10:01,30,0,0,30,30,29,30,0,0,5,10,6,1,00:10:01

In [7]:
df = df.drop('bike_pull',axis=1)
df = df.drop('bike_pull2',axis=1)
df = df.drop('bike_pull3',axis=1)
df = df.drop('bike_pull4',axis=1)

df.head(2)

,timestamp,bikes,spaces,total_docks,deposit,hour,day_of_week,minute,month,weekend,time
0,2014-06-28 00:00:01,30,0,0,0,0,5,0,6,1,00:00:01
1,2014-06-28 00:10:01,30,0,0,0,0,5,10,6,1,00:10:01

In [16]:
df['time'] < '05:30:00' &  (df['time'] > '00:30:00')

TypeError: cannot compare a dtyped [bool] array with a scalar of type [bool]

In [27]:
df['time'] < '05:30:00' | (df['time'] > '00:30:00')

TypeError: cannot compare a dtyped [bool] array with a scalar of type [bool]

In [23]:
x = df[df['time'] > '05:30:00']

In [28]:
df3 = df[(df['time'] > '05:30:00') | (df['time'] < '00:30:00')]

In [32]:
df3 = df3[df3['weekend']==0]

In [33]:
df3.to_csv('Station34-mon-fri-0530to0030.csv')

In [37]:
 early = df[(df['time'] > '05:30:00') & (df['hour'] < 6)]

In [38]:
dfPivot_means = pd.pivot_table(early, values = "bikes", aggfunc={'bikes': np.mean},
                             columns = "", index = "hour")

NameError: name 'np' is not defined