In [1]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('2014-2018_Station34.csv', parse_dates=True, index_col='timestamp')

In [36]:
df = pd.read_csv('2014-2018_Station34_features.csv', parse_dates=True, index_col='timestamp')

In [37]:
df.tail(2)

,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,bike_pull,bike_pull2,bike_pull3,bike_pull4,deposit,hour,day_of_week,minute,month,weekend
timestamp,,,,,,,,,,,,,,,,,
2018-06-28 16:44:02,8,22,30,8,6,7,7,8,0,0,0,0,16,3,44,6,0
2018-06-28 16:46:02,8,22,30,8,8,6,7,0,0,0,0,0,16,3,46,6,0

In [11]:
#df = df.drop('tfl_id', axis=1)

In [12]:
#df.rename(columns={'tfl_id': 'station_id'}, inplace=True)

In [13]:
df['bike_lag'] = df['bikes'].shift().fillna(0).astype(int)

In [14]:
df['bike_lag2'] = df['bikes'].shift(2).fillna(0).astype(int)

In [15]:
df['bike_lag3'] = df['bikes'].shift(3).fillna(0).astype(int)

In [16]:
df['bike_lag4'] = df['bikes'].shift(4).fillna(0).astype(int)

In [17]:
df['bike_pull'] = df['bikes'].shift(-1).fillna(0).astype(int)

In [18]:
df['bike_pull2'] = df['bikes'].shift(-2).fillna(0).astype(int)

In [19]:
df['bike_pull3'] = df['bikes'].shift(-3).fillna(0).astype(int)

In [20]:
df['bike_pull4'] = df['bikes'].shift(-4).fillna(0).astype(int)

In [21]:
df['deposit'] = df['bikes'].diff().fillna(0).astype(int)

In [22]:
df['hour'] = pd.DatetimeIndex(df.index).hour

In [24]:
df['day_of_week'] = pd.DatetimeIndex(df.index).dayofweek

In [25]:
df['minute'] = pd.DatetimeIndex(df.index).minute

In [26]:
df['month'] = pd.DatetimeIndex(df.index).month

In [27]:
df['weekend'] = df['day_of_week'] > 4

In [28]:
df['weekend'] = df['weekend'].astype(int)

In [38]:
df['time'] = pd.DatetimeIndex(df.index).time

In [40]:
df.head(10)

,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,bike_pull,bike_pull2,bike_pull3,bike_pull4,deposit,hour,day_of_week,minute,month,weekend,time
timestamp,,,,,,,,,,,,,,,,,,
2014-06-28 00:00:01,30,0,0,0,0,0,0,30,30,30,29,0,0,5,0,6,1,00:00:01
2014-06-28 00:10:01,30,0,0,30,0,0,0,30,30,29,30,0,0,5,10,6,1,00:10:01
2014-06-28 00:20:02,30,0,0,30,30,0,0,30,29,30,30,0,0,5,20,6,1,00:20:02
2014-06-28 00:30:02,30,0,0,30,30,30,0,29,30,30,30,0,0,5,30,6,1,00:30:02
2014-06-28 00:40:02,29,1,0,30,30,30,30,30,30,30,30,-1,0,5,40,6,1,00:40:02
2014-06-28 00:50:01,30,0,0,29,30,30,30,30,30,30,30,1,0,5,50,6,1,00:50:01
2014-06-28 01:00:01,30,0,0,30,29,30,30,30,30,30,30,0,1,5,0,6,1,01:00:01
2014-06-28 01:10:01,30,0,0,30,30,29,30,30,30,30,30,0,1,5,10,6,1,01:10:01
2014-06-28 01:20:01,30,0,0,30,30,30,29,30,30,30,30,0,1,5,20,6,1,01:20:01
2014-06-28 01:30:02,30,0,0,30,30,30,30,30,30,30,30,0,1,5,30,6,1,01:30:02

In [32]:
df = df.dropna()

In [41]:
df.to_csv('2014-2018_Station34_features.csv')